.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.background {
  border: 1px solid #e9ecef;
  border-radius: 1rem;
  padding: 10px;
}

/* image */
.image-area {
  width: 100%;
  height: 13.5rem;
  border-radius: 10px;
}

/* info */
.info-area {
  line-height: 2rem;
}

.info-area h2 {
  font-size: 1.4rem;
  color: #1c7ed6;
}

.tag {
  display: inline-block;
  padding: 0.1rem;
  color: #fff;
  background-color: #2f9e44;
  border-radius: 5px;
}

.info-area span {
  font-weight: 800;
  color: #495057;
}

.cancel,
.cancel span {
  color: #40c057;
}

/* action */
.action-area {
  width: 100%;
  height: 100%;
  position: relative;
}

.action-area .rate {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3b5bdb;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
}

.action-area h4 {
  color: #343a40;
}

.action-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #495057;
}

.btn {
  width: 100%;
}

.action-group h3 {
  font-size: 2rem;
  font-weight: 400;
}

.action-group p {
  color: #adb5bd;
}
