.btn-white {
  width: 2rem;
  padding: 1rem 3rem;
  color: rgb(25, 99, 226);
  background-color: #e9ecef;
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-blue {
  padding: 1rem 2rem;
  color: white;
  background-color: rgb(112, 157, 234);
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white:hover {
  cursor: pointer;
  box-shadow: 0px -1px 5px 3px #999 inset;
  transform: translate(0, -5px);
  transition: 0.2s;
}

.btn-blue:hover {
  cursor: pointer;
  box-shadow: 0px -1px 5px 3px #aac0e6 inset;
  transition: 0.2s;
}
