.hoteltype-img {
  width: 100%;
  height: 12rem;
  background-size: cover;
  border-top-left-radius: 1rem 1rem;
  border-top-right-radius: 1rem 1rem;
}

.name {
  color: #343a40;
}

.count {
  color: #868e96;
}

@media (max-width: 950px) {
  .hoteltype-img {
    height: 8rem;
  }
}

@media (max-width: 500px) {
  .hoteltype-img {
    height: 12rem;
  }
}
